body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 750px;
}
form{
    
    width: 500px;    
    padding-left: 200px;
    margin-top: 100px;
}
h1{
    color: burlywood;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
label{
    color: black;
    font-size: 22px;
    font-weight: bold;
}
input{
    height: 26px;
    width: 350px;
    border-radius: 15px;
    
}
textarea{
    width: 350px;
    border-radius: 15px;
}
button{
    height: 50px;
    width: 150px;
    background-color: red;
    font-size: 22px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
button:hover{
    background-color:darkgoldenrod;
    border: hidden;
}